@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Source+Sans+3:wght@400;600;700&display=swap");

html,
body,
#root,
.app,
.content {
    height: 100%;
    width: 100%;
    font-family: "Source Sans 3", sans-serif;
}

.app {
    display: flex;
    position: relative;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #e0e0e0;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.theme-dark .Mui-focused {
    color: #70d8bd !important;
}

.theme-light .Mui-focused {
    color: #3da58a !important;
}

.theme-dark .Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #70d8bd !important;
}

.theme-light .Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #3da58a !important;
}